@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: black;
  background-color: white;
}
.full-container {
  width: 1200px;
margin: 0 auto;
} 
.full-catalog-container {
  width: 1200px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* header */
.page-header {
  color: #000000;
  background-color: #ffffff;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.navigation {
  margin: 0 auto;
  display: flex;
}
.navigation-list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.navigation-user{
  margin-left: auto;
  min-width: 18px;
  min-height: 18px;
}
.navigation-link {
  display: block;
  padding: 20px 17px;
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  font-size: 20px;
  color: black;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-align: center;
}

.button-brown {
  color: white;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  padding: 9px 15px;
  margin-top: 13px;

}

/* main-index */
.main-index {
  color: black;
  background-color: white;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  margin: 0 auto;
}

.text-tagline {
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  width: 720px;
  margin: 0 auto;
  margin-bottom: 31px;
}
.advantages-discription {
  width: 720px;
  margin: 0 auto;
  margin-bottom: 80px;
}

/* catalog-main-inner */
.main-inner {
  color: black;
  background-color: white;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-decoration: none;
  
}
.catalog-page-container {
  color: white;
  background-color: black;
  background-image: url(../images/catalog-images/catalog-background.png);
  /*почему так похо отображается :**( */
  background-repeat: no-repeat;
}

.filter-wrapper {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}
.main-logo {
  margin: 0 auto;
  background-image: url(../images/index-images/index-background.jpg);
  color: black;
  background-color: white;
  background-repeat: no-repeat;
  margin-top: 46px;
  margin-bottom: 145px;
}
.breadcrumbs {
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding-left: 73px;
  padding-bottom: 51px;
}
.breadcrumbs-item {
  padding-right: 11px;
}
.breadcrumbs-link {
  text-decoration: none;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  padding: 30px 601px 5px 71px;
  margin: 0;
}

.catalog-filter-infrastructure {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter-type {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter-group {
  background-color: #81B3D2;
}

.blue-button-catalog {
  color: white;
  background-color: #81B3D2;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.reset-button {
  color: white;
  background-color: #81B3D2;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.results {
  color: black;
  background-color: white;
  
}
.results-arguments {
  display: flex;
}
.select-control {
  font-size: 18px;
  line-height: 23px;
  margin: 44px 81px 53px 0px;
  width: 287px;
height: 48px;
}
.select-control-bottom {
  font-size: 18px;
  width: 160px;
  height: 48px;
  margin-left: 51px;
}
.filter-buttons {
  display: flex;
  list-style: none;
}
.filter-buttons-item {
  margin-right: 44px 8px 53px;
  padding: 17px;
}
/* hotel */
.hotels-card {
  color: black;
  background-color: white;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  text-decoration: none;
  list-style: none;
}

.product-card-title {
  color: black;
  font-size: 24px;
  line-height: 31px;
  font-weight: 700;
  text-decoration: none;
}
.list-filter {
  list-style: none;
}
.catalog-buttons{
  list-style: none;
}
.hotel-discription {
  color: white;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
}

.hotel-favorites {
  color: white;
  background-color: rgba(131, 179, 211, 1);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
}
.hotel-favorites-included {
  color: white;
  background-color: rgba(125, 181, 79, 1);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
}
.hotel-rating {
  color: black;
  background-color: rgba(242, 242, 242, 1);
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  width: 160px;
  height: 37px;
}

.pagination-show-more {
  color: white;
  background-color: #81B3D2;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  height: 60px;
  margin: 30px 290px;
  padding: 17px 0px;
  width: 620px;
  border-width: 0;
}
.pagination {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.pagination :nth-child(6n) {
  margin-right: 300px;
}
.pagination-results {
  display: flex;
  justify-content: space-between;
  
}
.pagination-link {
  color: white;
  background-color: rgba(131, 179, 211, 1);
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-decoration: none;
  width: 55px;
  height: 55px;
  display: block;
  box-sizing: border-box;
  padding: 14px 20px;
  flex-wrap: wrap;
}
.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-current {
  color: black;
  background-color: rgba(242, 242, 242, 1);
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  text-decoration: none;
}

.searching-results {
  color: black;
  background-color: white;
  text-transform: none;
    font-weight: 700;
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    margin: 0;
    padding: 50px 192px 53px 71px;
  }
.searching-results-bottom {
  font-size: 18px;
  color: black;
  background-color: white;
  font-weight: lighter;
  
}
.select-control {
  border: 2px solid #E6E6E6;
  box-sizing: border-box;
  border-radius: 4px;
}
/* advantages */
.advantages {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}
.advantages-list {
  list-style: none;
  padding: 0%;
  margin: 0%;
  
}
.advices-list {
  list-style: none;
  margin: 0%;
  padding: 0%;
  display: flex;
  
}
.advantages-item-first-type {
  color: white;
  background-color: #81B3D2;
}
.advantages-title-first-type {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding-top: 97px;
  padding-bottom: 30px;
  margin: 0;
}
.advantages-discription-first-type {
  padding-bottom: 87px;
  padding-top: 30px;
  margin: 0;
}
.advantages-number-first-type {
  margin: 0;
  padding: 0;
}
.advantage-picture {
  display: flex;
}
.advantages-discription-picture {
  flex-grow: 1;
}
.advice-item-first {
  color: black;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.advantages-title-second-type {
  text-transform: uppercase;
  padding: 23px 20px;
  margin: 0;
}
.advice-discription {
  padding-bottom: 79px;
  padding-left: 75px;
  padding-right: 75px;
  margin: 0;
}
.advice-picture {
  margin: 0;
  padding-top: 90px;
}
.advantages-title-second-type h3 {
  color: black;
  background-color: rgba(131, 179, 211, 0.12);
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-item-second-type {
  color: black;
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.advice-item-second {
  color: black;
  background-color: white;
  width: 400px;
}

.advantages-title-third-type {
  color: black;
  background-color: white;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  padding: 23px 20px;
}

.advantages-item-fourth-type {
  color: black;
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
}

.advantages-title-fouth-type {
  text-transform: uppercase;
  font-weight: bold;
font-size: 24px;
margin: 0;
padding-top: 98px;
padding-bottom: 30px;
}
.advantages-number-second-type {
  margin: 0;
  padding-bottom: 30px;
}
.advantages-discription-second-type {
  margin: 0;
  padding: 0px 75px 108px;
}
.three-advantages {
  list-style: none;
  margin: 0%;
  padding: 0%;
  display: flex;
}


/* search-hotel */
.search-hotel {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.search-hotel-header {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding: 91px 240px 29px;
}
.search-hotel-discription {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 56px;
  padding-left: 240px;
  padding-right: 240px;
}
.search-hotel-clarification {
  text-align: center;
  margin: 0 auto;
  padding: 29px 240px 46px;
}
.button-brown-search {
  color: white;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  margin: 0 312px 93px;
}
/* mailing-list */
.mailing-list {
  background-image: url(../images/index-images/background.png);
  /* как сделать текст по центру :*( */
  color: white;
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 411px;
  /* если задать width, то картинка не до краев, по критериям задать надо, да и картинка некорректно отобразилась */
  
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  flex-direction: column;
}
.mailing-list-catalog {
  color: black;
  background-color: white;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mailing-list-header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  margin: 0;
  padding: 94px 240px 29px;
}

.blue-button-index {
  color: white;
  background-color: #81B3D2;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

/* footer */
.page-footer-container {
  display: flex;
  margin: 0 auto;
  padding: 40px 72px 40px;
}
.page-footer-container :nth-child(3n) {
  align-self: center;
  flex-grow: 1;
}
.cataog-footer-container {
  display: flex;
  margin: 0 auto;
  padding: 40px 72px 40px;
  margin-top: 140px;
}
.catalog-footer-container :nth-child(3n) {
  align-self: center;
  flex-grow: 1;
}

.link-list {
  list-style: none;
  display: flex;
  margin: 0;
  flex-wrap: wrap;
}
.footer-contacts-phone {
  color: black;
  background-color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 40px;
}
.footer-contacts {
  width: 720px;
  text-align: center;
}

.academy-link {
  color: black;
  background-color: white;
  text-decoration: none;
  margin-right: 0px;
}